<!-- headerfile -->
<div class="col-md-12 no-pad">
    <div class="main-header">
        WELLS FARGO
        <span class="dropdown" style="float: right;">
            <a class="dropdown-toggle login-name" (click)="myFunc()">Priyanka Pawar <span class="caret"></span></a>
            <ul class="dropdown-menu-item" *ngIf="open">
                <li><a style="cursor: pointer;">Sign Out</a></li>
            </ul>
        </span>
        <span class="fa fa-user user-icon"></span>
        <span class="fa fa-question-circle question-icon"></span>
    </div>
    <div class="content-panel">
        <div class="task-header">Tasks Management</div>
    </div>
</div>
<tmt-menu-bar></tmt-menu-bar>
<!-- <router-outlet></router-outlet> -->
<!-- Footer component will be here-->