
@import "../../assets/scss/variables.scss";
//main heading css
.main-header{
    padding: $pad-14;
    padding-left: $pad-10;
    background-color: $main-color;
    color: $white-col;
    font-size: $pad-16;
    font-weight: $font-bold;
    font-style: $font-normal;
}

//content panel css
.content-panel{
    padding-left: $pad-14;
    padding-right: $pad-10;
    background-color: $white-col;
    .task-header{
        font-size: $font-23;
        font-weight: $font-bold;
        padding-bottom: $pad-8;
        padding-top: $pad-8;
    }
}

.user-icon{
  display: $display-inline;
  padding-left: $pad-30;
  padding-right: $pad-8;
  margin-top: $pad-5;
  float: $right;
}
.question-icon{
    margin-top: 5px;
    float: $right;
}
.login-name{
    display: $display-inline;
    font-weight: $font-bold;
    font-size: $font-16;
    float: $right;
    cursor: $pointer;
}
.down-icon{
    display: $display-inline;
    padding-left: 8px;
    margin-top: 5px;
    float: $right;
    cursor: $pointer;
}
.dropdown-menu-item{
    position: absolute;
    top: 100%;
    left: -134px;
    z-index: 1000;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    padding: 0.5rem 0.5rem;
    margin: 0.125rem 0 0;
    font-size: 15px;
    font-weight: $font-normal;
    color: #212529;
    text-align: $center;
    list-style: $none-val;
    background-color: $white-col;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
}
  
