@import "./variables.scss";
//customise panel css for task status in dashboard

.content-panel-first p-panel{
    div.ui-panel {
        div.ui-panel-titlebar{
            background-color:$panel-1-col;
            color: $white-col;
            .ui-panel-title{
                font-weight: $font-normal;
                font-size: $font-18;
            }
        }
        .ui-panel-content{
            height: 204px;
        }
    }
}

//customise panel css for Account Type

.content-panel-second p-panel{
    div.ui-panel {
        div.ui-panel-titlebar{
            background-color: $panel-2-col;
            color: $white-col;
            .ui-panel-title{
                font-weight: $font-normal;
                font-size: $font-18;
            }
        }

    }
    .ui-panel-content{
        height: 204px;
    }
}

//customise panel css for Reports

.content-panel-third p-panel{
    div.ui-panel {
        div.ui-panel-titlebar{
            background-color: $panel-3-col;
            color: $white-col;
            .ui-panel-title{
                font-weight: $font-normal;
                font-size: $font-18;
            }
        }

    }
    .ui-panel-content{
        height: 204px;
    }
}

.panel p-panel{
    .ui-panel{
        .ui-panel-titlebar{
            background-color: $main-color;
            color: $white-col;
        }

    }
}

.panel-aacount-summary p-panel{
    .ui-panel{
        .ui-panel-titlebar{
            background-color: $main-color;
            color: $white-col;
        }
        .ui-panel-content{
            height: 403px;
            overflow-y: auto
        }
    }
}

.header-panel p-slidemenu{
    .ui-slidemenu.ui-slidemenu-dynamic{
        z-index: 1001;
        top: 34px;
        left: 1258.59px;
        transform: translateY(0px);
        opacity: 1;
        width: 122px;
        .ui-slidemenu-wrapper{
            .ui-slidemenu-content{
                height: 39px !important;
                overflow-y: hidden;
            }
        }
    }
}

.panel-aacount-search p-panel{
    .ui-panel{
        .ui-panel-content{
            height: 77px;
        }
    }
}

.documents-panel{
    .ui-panel{
        .ui-panel-content{
            height: 753px;
        }
    }
}
.communication-panel p-panel{
    .ui-panel{
        .ui-panel-content{
            height: 300px;
        }
    }
}

.contact-center-details .ui-tabview .ui-tabview-panels {
    height: 397px;
}