//css for 1st panel

div.dough-align p-chart{
    canvas.chartjs-render-monitor{
        display: block;
        width: 296px !important;
        height: 151px !important;
        position: absolute !important;
        left: -91px !important;
    }
}