

//primary colors

$main-color: #613c1f;
$black-col : #000;
$white-col : #fff;
$menu-bg-col:#e4ddcb;
$menu-br-col : #c4bdbd;
$panel-1-col:#551c69;
$panel-2-col:#2b7b32;
$panel-3-col:#61221d;
$blue-col:#007bff;
$gray-1:lightgray;
$orange-col: #ff9100;

//font-weight
$font-normal:normal;
$font-bold:bold;
$font-13:13px;
$font-14:14px;
$font-16:16px;
$font-18:18px;
$font-17:17px;
$font-19:19px;
$font-20:20px;
$font-23:23px;
$font-25:25px;
$font-26:26px;

//none values
$none-val : none;
$none-space :nowrap;

//display
$display-inline:inline-block;
$display-block:block;

//padding
$pad-5:5px;
$pad-8:8px;
$pad-10:10px;
$pad-11:11px;
$pad-12:12px;
$pad-13:13px;
$pad-14:14px;
$pad-15:15px;
$pad-16:16px;
$pad-17:17px;
$pad-25:25;
$pad-30:30px;

//alignment
$right:right;
$left:left;
$top:top;
$bottom:bottom;
$center:center;

//pointer
$pointer : pointer;

//position
$relative:relative;
$absolute:absolute;