<form [formGroup]="taskDetailForm" (ngSubmit)="onSubmit()">
    <div>
        <div class="row col-md-12 task-details-b-pad">
            <div class="col-md-4">
                <label class="task-detail-label">Caller Name<span *ngIf="!(isTaskInReview || isTaskInView)"
                        class="required-indicator">*</span></label>
                <input *ngIf="!(isTaskInReview || isTaskInView)" formControlName="callerName" type="text" pInputText
                    [ngClass]="{ 'invalid-input': callerName.errors && callerName.touched }" />
                <span *ngIf="isTaskInReview || isTaskInView">{{callerName.value}}</span>
            </div>

            <div class=" col-md-4">
                <label class="task-detail-label">Caller Phone<span *ngIf="!(isTaskInReview || isTaskInView)"
                        class="required-indicator">*</span></label>
                <p-inputMask *ngIf="!(isTaskInReview || isTaskInView)" formControlName="callerPhone"
                    mask="(999) 999-9999" [ngClass]="{ 'invalid-mask': callerPhone.errors && callerPhone.touched }">
                </p-inputMask>
                <span *ngIf="isTaskInReview || isTaskInView">{{callerPhone.value}}</span>
            </div>
        </div>

        <div class="row col-md-12 task-details-b-pad">
            <div class=" col-md-4">
                <label class="task-detail-label">Call Code<span *ngIf="!(isTaskInReview || isTaskInView)"
                        class="required-indicator">*</span></label>
                <p-dropdown *ngIf="!(isTaskInReview || isTaskInView)" formControlName="callCode" [options]="callCodes"
                    (onChange)="loadActionByCallCode(callCode.value)"
                    [ngClass]="{ 'invalid-dropdown': callCode.errors && callCode.touched }">
                </p-dropdown>
                <span *ngIf="isTaskInReview || isTaskInView">{{callCode.value}}</span>
            </div>

            <div class=" col-md-4">
                <label class="task-detail-label">Action<span *ngIf="!(isTaskInReview || isTaskInView)"
                        class="required-indicator">*</span></label>
                <p-dropdown *ngIf="!(isTaskInReview || isTaskInView)" formControlName="action" [options]="actions"
                    [ngClass]="{ 'invalid-dropdown': action.errors && action.touched }">
                </p-dropdown>
                <span *ngIf="isTaskInReview || isTaskInView">{{action.value}}</span>
            </div>
        </div>

        <div class="row col-md-12 task-details-b-pad">
            <div class=" col-md-4">
                <span [ngClass]="{ 'span-margin-10': !(isTaskInReview || isTaskInView) }">
                    <label class="task-detail-label">Fully Authenticated<span *ngIf="!(isTaskInReview || isTaskInView)"
                            class="required-indicator">*</span></label>
                    <p-radioButton *ngIf="!(isTaskInReview || isTaskInView)" name="fullAuth" value="yes"
                        formControlName="fullyAuthenticated" label="Yes" inputId="opt1"
                        [ngClass]="{ 'invalid-radio': fullyAuthenticated.errors && fullyAuthenticated.touched }">
                    </p-radioButton>
                </span>
                <p-radioButton *ngIf="!(isTaskInReview || isTaskInView)" name="fullAuth" value="no"
                    formControlName="fullyAuthenticated" label="No" inputId="opt2"
                    [ngClass]="{ 'invalid-radio': fullyAuthenticated.errors && fullyAuthenticated.touched }">
                </p-radioButton>
                <span *ngIf="isTaskInReview || isTaskInView">{{fullyAuthenticated.value}}</span>
            </div>
        </div>

        <div class="row col-md-12 task-details-b-pad">
            <div class="col-md-4">
                <span [ngClass]="{ 'span-margin-10': !(isTaskInReview || isTaskInView) }">
                    <label class="task-detail-label">Taxpayer ID<span *ngIf="!(isTaskInReview || isTaskInView)"
                            class="required-indicator">*</span></label>
                    <p-radioButton *ngIf="!(isTaskInReview || isTaskInView)" name="taxID" value="yes"
                        formControlName="taxPayerIDAvailable" label="Yes" inputId="tax1"
                        [ngClass]="{ 'invalid-radio': taxPayerIDAvailable.errors && taxPayerIDAvailable.touched }">
                    </p-radioButton>
                </span>
                <p-radioButton *ngIf="!(isTaskInReview || isTaskInView)" name="taxID" value="no"
                    formControlName="taxPayerIDAvailable" label="No" inputId="tax2"
                    [ngClass]="{ 'invalid-radio': taxPayerIDAvailable.errors && taxPayerIDAvailable.touched }">
                </p-radioButton>
                <span *ngIf="isTaskInReview || isTaskInView">{{taxPayerIDAvailable.value}}</span>
            </div>

            <div class="col-md-4" *ngIf="taxPayerIDAvailable.value === 'yes'">
                <label class="task-detail-label">Taxpayer ID<span *ngIf="!(isTaskInReview || isTaskInView)"
                        class="required-indicator">*</span></label>
                <input *ngIf="!(isTaskInReview || isTaskInView)" type="text" formControlName="taxPayerID" pInputText
                    [ngClass]="{ 'invalid-input': taxPayerID.errors && taxPayerID.touched }" />
                <span *ngIf="isTaskInReview || isTaskInView">{{taxPayerID.value}}</span>
            </div>
        </div>

        <div class="row col-md-12 task-details-b-pad">
            <div class=" col-md-4">
                <label class="task-detail-label">Task Priority</label>
                <p-dropdown *ngIf="!(isTaskInReview || isTaskInView)" formControlName="taskPriority"
                    [options]="taskPriorityData">
                </p-dropdown>
                <span
                    *ngIf="isTaskInReview || isTaskInView">{{taskPriority.value === null ? 'Low': taskPriority.value}}</span>
            </div>
        </div>

        <div class="row col-md-12 task-details-b-pad">
            <div class=" col-md-12">
                <label class="task-detail-label">Task Notes</label>
                <textarea *ngIf="!(isTaskInReview || isTaskInView)" [rows]="5" [cols]="30" pInputTextarea
                    formControlName="taskNotes"></textarea>
                <span *ngIf="isTaskInReview || isTaskInView">{{taskNotes.value}}</span>
            </div>
        </div>

        <div class="row col-md-12 task-details-b-pad">
            <div class=" col-md-1">
                <label class="task-detail-label">Call Details<span *ngIf="!(isTaskInReview || isTaskInView)"
                        class="required-indicator">*</span></label>
            </div>
            <div class="editor-pad col-md-7">
                <p-editor *ngIf="!(isTaskInReview || isTaskInView)" formControlName="callDetails"
                    [style]="{'height':'200px'}"
                    [ngClass]="{ 'invalid-editor': callDetails.errors && callDetails.touched }">
                </p-editor>
                <span *ngIf="isTaskInReview || isTaskInView">{{callDetails.value}}</span>
            </div>
        </div>

        <div class="row col-md-12 task-details-b-pad">
            <div class="add-accounts-section task-details-b-pad">
                <span *ngIf="!isTaskInView">Add Additional Accounts</span>
                <span *ngIf="isTaskInView">Additional Accounts</span>
                <p-button *ngIf="!(isTaskInReview || isTaskInView || isAdditionalAccountsSectionVisible)" type="button"
                    label="Add" class="save-pad" (click)="display=true;accountSearchRes=[];accountNo=null">
                </p-button>
            </div>
        </div>

        <div class="row col-md-12 task-details-b-pad">
            <p-table [columns]="accountColumns" [value]="additionalAccounts">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td *ngFor="let col of columns">
                            {{rowData[col.field]}}
                        </td>
                        <td class="ui-resizable-column">
                            <span class="fa fa-trash pointer" [ngClass]="{'pointer-none-review': isTaskInView}" style="padding-left: 5px;"
                                (click)="deleteAccount(rowData)"></span>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr class="text-center">
                        <td colspan="2">No records to display.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <!-- fields for review screen -->
        <div class="review-section" *ngIf="isTaskInReview || isTaskInView">
            <div class="row col-md-12 task-details-b-pad">
                <div class=" col-md-4">
                    <span class="span-margin-10">
                        <label class="task-detail-label">Task Complete<span *ngIf="isTaskInReview"
                                class="required-indicator">*</span></label>
                        <p-radioButton *ngIf="isTaskInReview" name="taskComplete" value="yes"
                            formControlName="taskComplete" label="Yes" inputId="opt1"
                            [ngClass]="{ 'invalid-radio': taskComplete.errors && taskComplete.touched }">
                        </p-radioButton>
                    </span>
                    <p-radioButton *ngIf="isTaskInReview" name="taskComplete" value="no" formControlName="taskComplete"
                        label="No" inputId="opt2"
                        [ngClass]="{ 'invalid-radio': taskComplete.errors && taskComplete.touched }">
                    </p-radioButton>
                    <span *ngIf="isTaskInView">{{taskComplete.value}}</span>
                </div>

                <div class=" col-md-4" *ngIf="taskComplete.value === 'no'">
                    <label class="task-detail-label">Assign to<span *ngIf="isTaskInReview"
                            class="required-indicator">*</span></label>
                    <p-dropdown *ngIf="isTaskInReview" formControlName="assignTo" [options]="assignToOptions"
                        [ngClass]="{ 'invalid-dropdown': assignTo.errors && assignTo.touched }">
                    </p-dropdown>
                    <span *ngIf="isTaskInView">{{assignTo.value}}</span>
                </div>
            </div>

            <div class="row col-md-12 task-details-b-pad" *ngIf="taskComplete.value === 'no'">
                <div class=" col-md-4">
                    <label class="task-detail-label">Select Individual<span *ngIf="isTaskInReview"
                            class="required-indicator">*</span></label>
                    <p-dropdown *ngIf="isTaskInReview" formControlName="individual" [options]="individualOptions"
                        (onChange)="onIndividualSelection()"
                        [ngClass]="{ 'invalid-dropdown': individual.errors && individual.touched }">
                    </p-dropdown>
                    <span *ngIf="isTaskInView">{{individual.value}}</span>
                </div>

                <div class=" col-md-8" *ngIf="userGroup?.value">
                    <label class="task-detail-label">User Group</label>
                    <label>{{userGroup?.value}}</label>
                </div>
            </div>
        </div>

        <div *ngIf="isTaskInReview || isTaskInView" class="row col-md-12 task-details-b-pad">
            <div class="add-accounts-section task-details-b-pad">
                <span>Officer List</span>
            </div>
            <p-table [columns]="officerListColumns" [(selection)]="selectedOfficerList" dataKey="adminCode"
                [value]="officerListData">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" class="text-center">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                    <tr>
                        <td *ngFor="let col of columns" class="text-center">
                            <p-tableCheckbox *ngIf="col.header == 'Select'" (click)="officerSelected($event, rowData)"
                                [disabled]="isTaskInView" [value]="rowData" [index]="rowIndex"></p-tableCheckbox>
                            {{rowData[col.field]}}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr class="text-center">
                        <td colspan="5">No records to display.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <div *ngIf="isSaveBtnClicked && message">
            <div [ngClass]="message.cssClass">
                {{message.text}}
            </div>
        </div>
    </div>
</form>

<p-dialog [(visible)]="display" [modal]="true" [style]="{width: '50vw', height: '26vw'}" [baseZIndex]="10000"
    [maximizable]="false" [draggable]="true" [resizable]="false">
    <div class="panel">
        <p-panel header="Account Search">
            <div class="flex-container">
                <div class="container-pad-2">
                    <label class="label-wid-1">Account Number</label>
                    <input type="text" pInputText class="input-align" [(ngModel)]="accountNo" />
                </div>
                <button pButton type="button" label="Search" (click)="searchAccount()" class="btn-align"></button>
            </div>
            <div class="flex-container">
                <p-table [columns]="accountColumns" [value]="accountSearchRes" selectionMode="single"
                    [(selection)]="selectedAccount">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns">
                                {{col.header}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-account let-rowData let-columns="columns">
                        <tr [pSelectableRow]="account">
                            <td *ngFor="let col of columns">
                                {{rowData[col.field]}}
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr class="text-center">
                            <td *ngIf="accountSearchErr == null" colspan="2">No records to display.</td>
                            <td *ngIf="accountSearchErr != null" colspan="2">{{accountSearchErr}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="footer-panel">
                <div class="error-col error-mar">{{validationErr}}</div>
                <span><button pButton type="button" label="Cancel" class="btn-mar"
                        (click)="display=false"></button></span>
                <span><button pButton type="submit" label="Done" (click)="addSelectedAccount()"></button></span>
            </div>
        </p-panel>
    </div>
</p-dialog>