@import "../../../../assets/scss/variables.scss";

.task-detail-label {
    width: 150px;
    float: left;
}
.editor-pad {
    padding-left: 57px;
}
.task-details-b-pad{
    padding-bottom: 10px;
}
.button-style {
    text-align: right;
    margin-top: 25px;
}
.save-pad {
    padding-right: 14px;
}
.add-accounts-section {
    font-weight: bold;
    width: 100%;
    span {
        vertical-align: middle;
    }
    p-button {
        float: right;
    }
}
.required-indicator {
    padding-left: 2px;
    color: $orange-col;
}

input[type=text].ui-inputtext.invalid-input {
    border: 1px solid $invalid-input-border;
}

.span-margin-10 {
    margin-right: 10px;
}
.flex-container{
    display: flex; 
    flex-direction: row;
    padding-bottom: 15px;
}
.btn-mar {
    margin-right: 15px;
}
.btn-align {
    margin-left: 40px;
}
.input-align {
    margin-left: 25px;
}
.footer-panel{
    padding-top: 15px;
}
.error-mar {
    margin-bottom: 10px;
}
.pointer-none-review {
    pointer-events: none;
}