<div class="details">
    <div class="details-tab-heading">
        Account Details
    </div>
    <div class="details-tab-content" *ngIf="accountDetails">
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-5 font-bold">Account Number</div>
                    <div class="col-sm-7">{{accountDetails.accountNumber}}</div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-5 font-bold">Account Short Name</div>
                    <div class="col-sm-7">{{accountDetails.accountName}}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-5 font-bold">Main Acct Number</div>
                    <div class="col-sm-7">{{accountDetails.mainAccountNumber}}</div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-5 font-bold">Market Value</div>
                    <div class="col-sm-7">{{accountDetails.marketValue}}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-5 font-bold">Branch Name</div>
                    <div class="col-sm-7">{{accountDetails.branchName}}</div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-5 font-bold">Branch Code</div>
                    <div class="col-sm-7">{{accountDetails.branchCode}}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-5 font-bold">Rev Tracking Description</div>
                    <div class="col-sm-7">{{accountDetails.revTrackingDescription}}</div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-5 font-bold">Rev Tracking Code</div>
                    <div class="col-sm-7">{{accountDetails.revTrackingCode}}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-5 font-bold">Administrator</div>
                    <div class="col-sm-7">{{accountDetails.administrator?.toUpperCase()}}</div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-5 font-bold">Admin Code</div>
                    <div class="col-sm-7">{{accountDetails.administratorCode}}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-5 font-bold">Senior Administrator</div>
                    <div class="col-sm-7">{{accountDetails.seniorAdministrator?.toUpperCase()}}</div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-5 font-bold">Senior Admin Code</div>
                    <div class="col-sm-7">{{accountDetails.seniorAdministratorCode}}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-5 font-bold">Backup Administrator</div>
                    <div class="col-sm-7">{{accountDetails.backupAdministrator?.toUpperCase()}}</div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-5 font-bold">Backup Administrator</div>
                    <div class="col-sm-7">{{accountDetails.backupAdministratorCode}}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-5 font-bold">Investment Mgr</div>
                    <div class="col-sm-7">{{accountDetails.investmentManager?.toUpperCase()}}</div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-5 font-bold">Investment Mgr Code</div>
                    <div class="col-sm-7">{{accountDetails.investmentManagerCode}}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-5 font-bold">Backup Investment Mgr</div>
                    <div class="col-sm-7">{{accountDetails.backupInvestmentManager?.toUpperCase()}}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-5 font-bold">Backup Investment Mgr Code</div>
                    <div class="col-sm-7">{{accountDetails.backupInvestmentManagerCode}}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-5 font-bold">Bank Capacity</div>
                    <div class="col-sm-7">{{accountDetails.bankCapacity?.toUpperCase()}}</div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-5 font-bold">Control Group</div>
                    <div class="col-sm-7">{{accountDetails.controlGroup?.toUpperCase()}}</div>
                </div>
            </div>
        </div>
    </div>
</div>