<div>
    <form [formGroup]="taskDetailForm" (ngSubmit)="onSubmit()">
        <div class="panel task-panel-b-pad">
            <p-panel header="Account Maintenance Details">
                <div class="panel-align">
                    <label class="col-md-2" [ngClass]="{'notes-alignment':!(isTaskInReview || isTaskInView)}">
                        Change Description<span *ngIf="!(isTaskInReview || isTaskInView)"
                            class="required-indicator">*</span></label>
                    <div class="acc-text">
                        <textarea *ngIf="!(isTaskInReview || isTaskInView)" pInputTextarea formControlName="changeDescription"
                            [ngClass]="{ 'invalid-textarea': changeDescription.errors && changeDescription.touched }"></textarea>
                        <span *ngIf="isTaskInReview || isTaskInView">{{changeDescription.value}}</span>
                    </div>
                </div>
            </p-panel>
        </div>
        <div class="panel task-panel-b-pad">
            <p-panel header="Add Additional Accounts">
                <p-header>
                    <button pButton type="button" label="ADD" class="float-r" (click)="validationErr='';display=true;contactCenterSearch=true;"></button>
                </p-header>
                <p-table [columns]="accountColumns" [value]="additionalAccounts">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns">
                                {{col.header}}
                            </th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr>
                            <td *ngFor="let col of columns">
                                {{rowData[col.field]}}
                            </td>
                            <td class="ui-resizable-column">
                                <span class="fa fa-trash pointer" [ngClass]="{'pointer-none-review': isTaskInView}"
                                    style="padding-left: 5px;" (click)="deleteAccount(rowData)"></span>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr class="text-center">
                            <td colspan="3">No records to display.</td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-panel>
        </div>
        <div class="panel task-panel-b-pad">
            <p-panel header="Task Priority">
                <label class="col-md-2">Rush
                    <span *ngIf="!(isTaskInReview || isTaskInView)" class="required-indicator">*</span>
                </label>
                <span>
                    <p-dropdown *ngIf="!(isTaskInReview || isTaskInView)" [options]="rushTypes" formControlName="taskPriority">
                    </p-dropdown>
                    <span *ngIf="isTaskInReview || isTaskInView">{{taskPriority.value === null ? 'Low': taskPriority.value}}</span>
                </span>
            </p-panel>
        </div>
        <div class="panel task-panel-b-pad">
            <p-panel header="Task Notes">
                <div class="panel-align">
                    <label class="col-md-2" [ngClass]="{'notes-alignment':!(isTaskInReview || isTaskInView)}">
                        Additional Information<span *ngIf="!(isTaskInReview || isTaskInView)"
                            class="required-indicator">*</span></label>
                    <div class="acc-text">
                        <textarea *ngIf="!(isTaskInReview || isTaskInView)" pInputTextarea
                            formControlName="additionalInformation"
                            [ngClass]="{ 'invalid-textarea': additionalInformation.errors && additionalInformation.touched }"></textarea>
                        <span *ngIf="isTaskInReview || isTaskInView">{{additionalInformation.value}}</span>
                    </div>
                </div>
            </p-panel>
        </div>
        <!-- show panel if task is in review state -->
        <div *ngIf="isTaskInReview || isTaskInView">
            <div class="panel task-panel-b-pad">
                <p-panel header="Assign Request To a User Group">
                    <div class="panel-align task-panel-b-pad">
                        <label class="col-md-2">Branch Name</label>
                        <span>{{taskDetailDataValue.accountDetail.branchName}}</span>
                        <span class="col-md-4"></span>
                        <label class="col-md-2">Administrator</label>
                        <span>{{taskDetailDataValue.accountDetail.administrator}}</span>
                    </div>
                    <div class="task-panel-b-pad">
                        <label class="col-md-2">Select User Group</label>
                        <span>
                            <p-dropdown formControlName="assignedUserGroup" [options]="userGroupOptions"></p-dropdown>
                        </span>
                    </div>
                    <div>
                        <label class="col-md-2">Select Individual (Optional)</label>
                        <span>
                            <p-dropdown formControlName="selectedIndividual" [options]="individualOptions"></p-dropdown>
                        </span>
                    </div>
                </p-panel>
            </div>
        </div>
        <div *ngIf="isSaveBtnClicked && message">
            <div [ngClass]="message.cssClass">
                {{message.text}}
            </div>
        </div>
    </form>
</div>
<p-dialog [(visible)]="display" [modal]="true" [style]="{width: '55vw', height: '30vw'}" [baseZIndex]="10000"
    [maximizable]="false" [draggable]="true" [resizable]="false">
    <srca-account-search *ngIf="contactCenterSearch" (addAccount)="addSelectedAccount($event)"
        [contactCenterSearch]="contactCenterSearch"></srca-account-search>
</p-dialog>