.task-sum-label {
    display: inline-block;
    font-size: 18px;
    font-family: initial;
    font-weight: 700;
}

.summary-pad {
    padding: 20px;
}

.bottom-border{
    border-bottom: 1px solid lightgray;
}

.label-pad {
    padding: 10px;
}

.pad-t-5{
    padding-top: 5px !important;
}
