//customise panel css for task status

::ng-deep .content-panel-first p-panel{
    div.ui-panel {
        div.ui-panel-titlebar{
            background-color: #551c69;
            color: white;
            .ui-panel-title{
                font-weight: normal;
                font-size: 18px;
            }
        }
        .ui-panel-content{
            height: 204px;
        }
    }
}

//customise panel css for Account Type

::ng-deep .content-panel-second p-panel{
    div.ui-panel {
        div.ui-panel-titlebar{
            background-color: #2b7b32;
            color: white;
            .ui-panel-title{
                font-weight: normal;
                font-size: 18px;
            }
        }

    }
    .ui-panel-content{
        height: 204px;
    }
}

//customise panel css for Reports

::ng-deep .content-panel-third p-panel{
    div.ui-panel {
        div.ui-panel-titlebar{
            background-color: #61221d;
            color: white;
            .ui-panel-title{
                font-weight: normal;
                font-size: 18px;
            }
        }

    }
    .ui-panel-content{
        height: 204px;
    }
}

.account-type-panel{
    text-align: center;
    padding: 25px;
    .account-label{
        display: inline-block;
        margin-right: 11px;
    }
    .accont-info-label{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}  

//customise panel css for Reports table

table.Report-table {
    border-collapse: collapse;
    width: 100%;
    td {
        padding: 12px;
        border-bottom: 1px solid lightgray;
    
    }
        .fa.fa-file-text-o{
        color: #007bff !important;
        cursor: pointer;
    }
        .file-name-pad{
        display: inline-block;
        padding-left: 10px;
    }
}
  
.task-content{
    padding-left: 14px;
    position: relative;
    .task-label{
        display: inline-block;
        font-size: 32px;
        padding: 12px 0px;
    } 
    .info-icon{
        display: inline-block;
        position: absolute;
        top: 23px;
        left: 133px;
    &.fa.fa-info-circle{
        color: #007bff !important;
        cursor: pointer;
        font-size: 19px;
    }
    }
}

//css for 1st panel

::ng-deep div.dough-align p-chart{
    canvas.chartjs-render-monitor{
        display: block;
       // height: 170px !important;
       // position: absolute !important;
       // width: 328px !important;
       //  left: -92px !important;
        height: 151px !important;
    position: absolute !important;
    }
}

.select-by-main-div{
    position: relative;
    .select-by-align{
        position: absolute;
        left: 165px;
    }
}
.seprator{
    border: 1px solid gray;
    margin-top: 22px;
    margin-bottom: 12px;
}

.flex-container{
    display: flex;
    flex-wrap: nowrap;
}
.flex-container > div {
    width: 275px;
    text-align: center;
    font-size: 57px;
    :first-child{
        border-right: 1px solid black;
    }
    :nth-child(2){
        border-right: 1px solid black;
    }
    .open-task{
        color: #551c69;  
    }
    .in-progress-task{
        color: #61221d;
    }
    .complete-task{
        color: #2b7b32;
    }
  }
  .flex-container-text{
    display: flex;
    flex-wrap: nowrap;
  }
  .flex-container-text > div{
    width: 275px; 
    text-align: center;
    font-size: 16px;
  }

.no-pad{
    padding: 0px !important;
}
.pad-r-0{
    padding-right: 0px !important;
}
