
@import "../../../assets/scss/variables.scss";
.account-type-panel{
    text-align: $center;
    padding: $pad-25;
    .account-label{
        display: $display-inline;
        margin-right: 11px;
    }
    .accont-info-label{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}  

//customise panel css for Reports table

table.Report-table {
    border-collapse: collapse;
    width: 100%;
    td {
        padding: $pad-12;
        border-bottom: 1px solid $gray-1;
    
    }
        .fa.fa-file-text-o{
        color: $blue-col !important;
        cursor: $pointer;
    }
        .file-name-pad{
        display: $display-inline;
        padding-left: 10px;
    }
    .Document-view-opt{
        color: $blue-col;
        text-decoration: underline;
        cursor: $pointer;
        float: $right;
    }
}
  
.task-content{
    padding-left: 14px;
    position: $relative;
    .task-label{
        display: $display-inline;
        font-size: 32px;
        padding: 12px 0px;
    } 
    .info-icon{
        display: $display-inline;
        position: $absolute;
        top: 23px;
        left: 133px;
    &.fa.fa-info-circle{
        color: $blue-col !important;
        cursor: $pointer;
        font-size: 19px;
    }
    }
}



.select-by-main-div{
    position: $relative;
    .select-by-align{
        position: $absolute;
      right: 2px;
    }
}

.seprator{
    border: 1px solid gray;
    margin-top: 22px;
    margin-bottom: 12px;
    margin-left: 30px;
}

.flex-container{
    display: flex;
    flex-wrap: $none-space;
}
.flex-container > div {
    width: 250px;
    text-align: $center;
    font-size: 35px;
    :first-child{
        border-right: 1px solid $black-col;
    }
    :nth-child(2){
        border-right: 1px solid $black-col;
    }
    .open-task{
        color: $panel-1-col;  
    }
    .in-progress-task{
        color: $panel-2-col;
    }
    .complete-task{
        color: $panel-3-col;
    }
  }
  .flex-container-text{
    display: flex;
    flex-wrap: $none-space;
  }
  .flex-container-text > div{
    width: 250px;
    text-align: $center;
    font-size: 14px;
  }

.pad-r-0{
    padding-right: 0px !important;
}
