
@import "../../../../../assets/scss/variables.scss";
.panel-border{
    border: 1px solid black;
    padding: 10px;
}
.panel-btn{
    padding: 8px;
    span{
        display: inline-block;
        padding: 10px;
    }
}
.content-t-mar{
    margin-top: 5px;
    margin-bottom: 17px;
}
.required-indicator {
    padding-left: 2px;
    color: $orange-col;
}
.mar-b-0{
    margin-bottom: 0px;
}
.message-align{
    display: inline-block;
    margin-left: 321px;
    position: relative;
    bottom: 24px;
}