<form [formGroup]="taskDetailForm" (ngSubmit)="onSubmit()">
  <div>
    <div class="row col-md-12 task-details-b-pad">
      <div class="col-md-4">
        <label class="task-detail-label">Caller Name<span class="required-indicator">*</span></label>
        <input formControlName="callerName" type="text" pInputText
          [ngClass]="{ 'invalid-input': callerName.errors && callerName.touched }" />
      </div>
      <div class=" col-md-4">
        <label class="task-detail-label">Caller Phone<span class="required-indicator">*</span></label>
        <p-inputMask formControlName="callerPhone" mask="(999) 999-9999"
          [ngClass]="{ 'invalid-mask': callerPhone.errors && callerPhone.touched }">
        </p-inputMask>
      </div>
    </div>
    <div class="row col-md-12 task-details-b-pad">
      <div class=" col-md-4">
        <label class="task-detail-label">Call Code<span class="required-indicator">*</span></label>
        <p-dropdown formControlName="callCode" [options]="callCodes" (onChange)="loadActionByCallCode(callCode.value)"
          [ngClass]="{ 'invalid-dropdown': callCode.errors && callCode.touched }">
        </p-dropdown>

      </div>
      <div class=" col-md-4">
        <label class="task-detail-label">Action<span class="required-indicator">*</span></label>
        <p-dropdown formControlName="action" [options]="actions"
          [ngClass]="{ 'invalid-dropdown': action.errors && action.touched }">
        </p-dropdown>
      </div>
    </div>
    <div class="row col-md-12 task-details-b-pad">
      <div class=" col-md-4">
        <label class="task-detail-label">Fully Authenticated<span class="required-indicator">*</span></label>
        <p-radioButton name="fullAuth" value="yes" formControlName="fullyAuthenticated" label="Yes" inputId="opt1"
          [ngClass]="{ 'invalid-radio': fullyAuthenticated.errors && fullyAuthenticated.touched }">
        </p-radioButton>
        <p-radioButton name="fullAuth" value="no" formControlName="fullyAuthenticated" label="No" inputId="opt2"
          [ngClass]="{ 'invalid-radio': fullyAuthenticated.errors && fullyAuthenticated.touched }">
        </p-radioButton>
      </div>

    </div>
    <div class="row col-md-12 task-details-b-pad">
      <div class="col-md-4">
        <label class="task-detail-label">Taxpayer ID<span class="required-indicator">*</span></label>
        <p-radioButton name="taxID" value="yes" formControlName="taxPayerIDAvailable" label="Yes" inputId="tax1"
          [ngClass]="{ 'invalid-radio': taxPayerIDAvailable.errors && taxPayerIDAvailable.touched }">
        </p-radioButton>
        <p-radioButton name="taxID" value="no" formControlName="taxPayerIDAvailable" label="No" inputId="tax2"
          [ngClass]="{ 'invalid-radio': taxPayerIDAvailable.errors && taxPayerIDAvailable.touched }">
        </p-radioButton>
      </div>
      <div class="col-md-4" *ngIf="taxPayerIDAvailable.value === 'yes'">
        <label class="task-detail-label">Taxpayer ID<span class="required-indicator">*</span></label>
        <input type="text" formControlName="taxPayerID" pInputText />
      </div>
    </div>
    <div class="row col-md-12 task-details-b-pad">
      <div class=" col-md-4">
        <label class="task-detail-label">Task Priority</label>
        <p-dropdown formControlName="taskPriority" [options]="taskPriorityData"></p-dropdown>
      </div>
    </div>
    <div class="row col-md-12 task-details-b-pad">
      <div class=" col-md-12">
        <label class="task-detail-label">Task Notes</label>
        <textarea [rows]="5" [cols]="30" pInputTextarea formControlName="taskNotes"></textarea>
      </div>
    </div>
    <div class="row col-md-12 task-details-b-pad">
      <div class=" col-md-1">
        <label class="task-detail-label">Call Details<span class="required-indicator">*</span></label>
      </div>
      <div class="editor-pad col-md-7">
        <p-editor formControlName="callDetails" [style]="{'height':'200px'}"
          [ngClass]="{ 'invalid-editor': callDetails.errors && callDetails.touched }">
        </p-editor>
      </div>
    </div>
    <div class="row col-md-12 task-details-b-pad">
      <div class="add-accounts-section task-details-b-pad">
        <span>Add Additional Accounts</span>
        <p-button type="button" label="Add" class="save-pad"></p-button>
      </div>
      <p-table [columns]="accountColumns" [value]="accounts">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td *ngFor="let col of columns">
              {{rowData[col.field]}}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div *ngIf="isSaveBtnClicked">
      <div [ngClass]="message.cssClass" *ngIf="!taskDetailForm.valid || !taskDetailForm.touched">
        {{message.text}}
      </div>
    </div>
  </div>
</form>