.task-detail-label {
    width: 150px;
    float: left;
}
.editor-pad {
    padding-left: 57px;
}
.task-details-b-pad{
    padding-bottom: 10px;
}
.button-style {
    float: right;
    margin-top: -32px;
}
.save-pad {
    padding-right: 14px;
}
