<div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="container-2"> 
            
            <label><b>Username</b></label> 
            <input type="text" placeholder="Enter Username" formControlName="username" class="form-control"> 
  
            <label><b>Password</b></label> 
            <input type="password" placeholder="Enter Password" formControlName="password" class="form-control"> 
  
            <button type="submit" class="login">Login</button> 
            <input type="checkbox" checked="checked"> Remember me 
        
        </div> 
    </form>
    </div>