<span class="task-sum-label">Account Details</span>
<div class="summary-pad">
    <div class="row col-md-12 bottom-border">
        <div class=" col-md-4">
            <label>Account Number</label>
            <span class="label-pad">{{accountDetail?.accountNumber}}</span>
        </div>
        <div class=" col-md-4">
            <label>Account Short Name</label>
            <span class="label-pad">{{accountDetail?.accountShortName}}</span>
        </div>
        <div class=" col-md-4">
            <label>Main Acct Number</label>
            <span class="label-pad">{{accountDetail?.mainAccountNumber}}</span>
        </div>
    </div>
    <div class="row col-md-12 pad-t-5">
        <div class=" col-md-4">
            <label>Market Value</label>
            <span class="label-pad">{{accountDetail?.marketValue}}</span>
        </div>
        <div class=" col-md-4">
            <label>Branch Code</label>
            <span class="label-pad">{{accountDetail?.branchCode}}</span>
        </div>
    </div>
</div>