@import "../../../../assets/scss/variables.scss";
.flex-container{
    display: flex; 
    flex-direction: row;
    padding-bottom: 15px;
}
.label-wid-1{
    width: 115px;
}

.label-wid-2{
    width: 75px;
}
.container-pad-1{
    padding-right: 53px;
}
.container-pad-2{
    padding-right: 57px;
}
.notes-alignment{
    bottom: 16px;
    position: relative;
}
.footer-panel{
    padding-top: 15px;
}
.btn-align{
    margin-right: 10px;
}
.required-indicator {
    padding-left: 2px;
    color: $orange-col;
}