.task-label{
    display: inline-block;
    font-size: 23px;
    padding-left: 15px;
    font-weight: bold;
}
.info-icon{
    display: inline-block;
    top: 23px;
    left: 133px;
&.fa.fa-info-circle{
    color: #007bff !important;
    cursor: pointer;
    font-size: 15px;
}
}
.label-pad {
    padding: 10px;
}
.task-sum-label {
    display: inline-block;
    font-size: 18px;
    font-family: initial;
    font-weight: 700;
}
.summary-pad {
    padding: 20px;
}
.task-sum-pad {
    padding-top: 10px;
    margin-left: 14px;
    margin-right: 10px;
}
.acc-detail-pad {
    margin-top: 10px;
    margin-left: 14px;
    margin-right: 10px;
}
.acc-details-mar{
    margin: 14px;
    margin-right: 10px;
}
.bottom-border{
    border-bottom: 1px solid lightgray;
}
.pad-t-5{
    padding-top: 5px !important;
}
.button-style {
    text-align: right;
    margin-top: 25px;
}
.save-pad {
    margin-right: 14px;
}