<div class="container-div">
  <span class="task-label">Contact Center Details</span>
  <span class="fa fa-info-circle info-icon"></span>
  <div class="task-sum-pad">
    <p-card>
      <span class="task-sum-label">Task Summary</span>
      <div class="summary-pad">
        <div class="row col-md-12 bottom-border">
          <div class=" col-md-4">
            <label>Task ID</label>
            <span class="label-pad">{{contactCenterData?.taskID}}</span>
          </div>
          <div class=" col-md-4">
            <label>Status</label>
            <span class="label-pad">{{contactCenterData?.status}}</span>
          </div>
          <div class=" col-md-4">
            <label>Phone</label>
            <span class="label-pad">{{contactCenterData?.phoneNo}}</span>
          </div>
        </div>
        <div class="row col-md-12 bottom-border pad-t-5">
          <div class=" col-md-4">
            <label>Created</label>
            <span class="label-pad">{{contactCenterData?.createdDate}}</span>
          </div>
          <div class=" col-md-4">
            <label>Email</label>
            <span class="label-pad">{{contactCenterData?.email}}</span>
          </div>
          <div class=" col-md-4">
            <label>Assigned User</label>
            <span class="label-pad">{{contactCenterData?.assignedUser}}</span>
          </div>
        </div>
        <div class="row col-md-12 pad-t-5">
          <div class=" col-md-4">
            <label>Assigned Email</label>
            <span class="label-pad">{{contactCenterData?.assignedEmail}}</span>
          </div>
          <div class=" col-md-4">
            <label>Account Service</label>
            <span class="label-pad">{{contactCenterData?.accountService}}</span>
          </div>
        </div>
      </div>
    </p-card>
  </div>
  <div class="acc-detail-pad">
    <p-card>
      <span class="task-sum-label">Account Details</span>
      <div class="summary-pad">
        <div class="row col-md-12 bottom-border">
          <div class=" col-md-4">
            <label>Account Number</label>
            <span class="label-pad">{{contactDetailRequest?.accountNo}}</span>
          </div>
          <div class=" col-md-4">
            <label>Account Short Name</label>
            <span class="label-pad">{{contactCenterData?.accountShortName}}</span>
          </div>
          <div class=" col-md-4">
            <label>Main Acct Number</label>
            <span class="label-pad">{{contactCenterData?.mainAccountNo}}</span>
          </div>
        </div>
        <div class="row col-md-12 pad-t-5">
          <div class=" col-md-4">
            <label>Market Value</label>
            <span class="label-pad">{{contactCenterData?.marketValue}}</span>
          </div>
          <div class=" col-md-4">
            <label>Branch Code</label>
            <span class="label-pad">{{contactCenterData?.branchCode}}</span>
          </div>
        </div>
      </div>
    </p-card>
  </div>
  <div class="acc-details-mar">
    <p-card>
      <p-tabView>
        <p-tabPanel header="Task Detail">
          <tmt-task-detail [taskDetailData]="contactCenterData?.taskDetail" (saveTaskDetails)="saveTask($event)">
          </tmt-task-detail>
        </p-tabPanel>
        <p-tabPanel header="Document">
          <tmt-document [DocumentDetailData]="contactCenterData?.documentDetails"></tmt-document>
        </p-tabPanel>
      </p-tabView>
    </p-card>
  </div>
</div>