@import "../../../../assets/scss/variables.scss";
@mixin section-heading($headingBackground) {
    color: $headingBackground;
    font-size: $font-14;
    font-weight: 600;
}

.account-summary {
    font-size: 16px;
    background-color: $white-col;

    .details-and-actions {
        margin-top: 30px;
        margin-right: 0;

        .actions {
            a {
                display: block;
                text-decoration: $none-val;
                color: $black-col;
                padding: 1px 0px;
                font-size: $font-13 !important;
                font-weight: $font-normal !important;
                @include section-heading(#000);
               
                i {
                    float: $right;
                }
            }
            a:hover{
                color:$blue-col
            }
            div.dropdown-container {
                padding-left: 20px;
                display: $none-val;
            }

            div.dropdown-container.active {
                display: block;
            }
        }

        .clearfix::after {
            content:'';
            clear: both;
            display: table;
        }

        .back-btn {
            margin-top: 15px;
        }
    }
}

::ng-deep p-tabview {
    .ui-tabview-nav {
        font-size: 14px;
    }
}

.account-tasks-table::ng-deep .ui-table {
    font-size: $font-14;
    .ui-table-thead {
        tr {
            th:first-child {
                width: 50px;
            }
            th:nth-child(2) {
                width: 80px;
            }
        }
    }
    .ui-table-tbody {
        tr {
            td:first-child {
                width: 50px;
            }
            td:nth-child(2) {
                width: 80px;
            }
        }
    }
}