<div class="account-summary">
    <div>
        The available Tasks are in the Actions menu to the left. Select the Task that you want to create for the
        selected account. You will be guided through the screens to provide details for that Task.
    </div>
    <div>
        <strong>Tasks associated to this account are listed in the Tasks tab.</strong>
    </div>
    <div class="row details-and-actions">
        <div class="col-sm-3 actions">
            <p-panel [toggleable]="true" [expandIcon]="'pi pi-angle-down'" [collapseIcon]="'pi pi-angle-up'">
                <p-header>
                    Actions
                </p-header>
                <a routerLink="./">Account Maintenance</a>
                <a routerLink="./">Acct Review Maintenance</a>
                <a routerLink="./">Asset Transaction</a>
                <a routerLink="./">Contact Center</a>
                <a routerLink="./">DARS Approval</a>
                <a routerLink="./">Name & Address Record</a>
                <a routerLink="./">AD Fixed Income</a>
                <a routerLink="./">AD AMS Asset Management</a>
                <a routerLink="./">Portfolio Implementation</a>
            </p-panel>
        </div>
        <div class="col-sm-9 details">
            <!-- tab view -->
            <p-tabView>
                <p-tabPanel header="Details">
                    <div class="details-tab-heading">
                        Account Details
                    </div>
                    <div class="details-tab-content" *ngIf="accountDetails">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-5">Account Number</div>
                                    <div class="col-sm-7">{{accountDetails.accountNumber}}</div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-5">Account Short Name</div>
                                    <div class="col-sm-7">{{accountDetails.accountName}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-5">Main Acct Number</div>
                                    <div class="col-sm-7">{{accountDetails.mainAccountNumber}}</div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-5">Market Value</div>
                                    <div class="col-sm-7">{{accountDetails.marketValue}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-5">Branch Name</div>
                                    <div class="col-sm-7">{{accountDetails.branchName}}</div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-5">Branch Code</div>
                                    <div class="col-sm-7">{{accountDetails.branchCode}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-5">Rev Tracking Description</div>
                                    <div class="col-sm-7">{{accountDetails.revTrackingDescription}}</div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-5">Rev Tracking Code</div>
                                    <div class="col-sm-7">{{accountDetails.revTrackingCode}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-5">Administrator</div>
                                    <div class="col-sm-7">{{accountDetails.administrator?.toUpperCase()}}</div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-5">Admin Code</div>
                                    <div class="col-sm-7">{{accountDetails.administratorCode}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-5">Senior Administrator</div>
                                    <div class="col-sm-7">{{accountDetails.seniorAdministrator?.toUpperCase()}}</div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-5">Senior Admin Code</div>
                                    <div class="col-sm-7">{{accountDetails.seniorAdministratorCode}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-5">Backup Administrator</div>
                                    <div class="col-sm-7">{{accountDetails.backupAdministrator?.toUpperCase()}}</div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-5">Backup Administrator</div>
                                    <div class="col-sm-7">{{accountDetails.backupAdministratorCode}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-5">Investment Mgr</div>
                                    <div class="col-sm-7">{{accountDetails.investmentManager?.toUpperCase()}}</div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-5">Investment Mgr Code</div>
                                    <div class="col-sm-7">{{accountDetails.investmentManagerCode}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-5">Backup Investment Mgr</div>
                                    <div class="col-sm-7">{{accountDetails.backupInvestmentManager?.toUpperCase()}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-5">Backup Investment Mgr Code</div>
                                    <div class="col-sm-7">{{accountDetails.backupInvestmentManagerCode}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-5">Bank Capacity</div>
                                    <div class="col-sm-7">{{accountDetails.bankCapacity?.toUpperCase()}}</div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-5">Control Group</div>
                                    <div class="col-sm-7">{{accountDetails.controlGroup?.toUpperCase()}}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </p-tabPanel>
                <p-tabPanel header="Tasks">
                    <ng-template pTemplate="content">
                        Lazily loaded tasks list
                    </ng-template>
                </p-tabPanel>

            </p-tabView>
        </div>
    </div>
</div>