@mixin section-heading($headingBackground) {
    color: $headingBackground;
    font-size: 14px;
    font-weight: 600;
}

.account-summary {
    font-size: 16px;
    background-color: white;

    .details-and-actions {
        margin-top: 30px;

        .actions {
            a {
                display: block;
                text-decoration: none;
                margin-bottom: 10px;
                @include section-heading(#000);

                i {
                    float: right;
                }
            }
            
            div.dropdown-container {
                padding-left: 20px;
                display: none;
            }

            div.dropdown-container.active {
                display: block;
            }


        }

        .clearfix::after {
            content:'';
            clear: both;
            display: table;
        }
    }
}

::ng-deep p-panel{
    .ui-panel{
        .ui-panel-titlebar{
            background-color: #613c1f;
            @include section-heading(#fff);
        }

    }

}

::ng-deep p-tabview {
    .ui-tabview-nav {
        font-size: 14px;
    }
}
