<div class="task-content">
  <span class="task-label">All Tasks</span>
  <span class="fa fa-info-circle info-icon"></span>
  <span class="search-bar">Search 
    <input type="text" pInputText size="30" placeholder="Global Filter"
      (input)="globalSearch($event)" style="width:auto">
  </span>
  <div class="task-table">
    <span>Select Action  </span>
    <span>
      <p-dropdown [options]="tasks" [(ngModel)]="selectedTask" class="my-tasklistdropdown"></p-dropdown>
    </span>
    <span class="task-label-last">Over the last </span>
    <span>
      <p-dropdown [options]="taskPastDays" [(ngModel)]="selectedPastDays" class="my-tasklistdropdown"></p-dropdown>
    </span>
    <div style="float: right;">
      <span class="fa fa-download pdf-excel-icon" (click)="exportToPdf()"><span class="pdf-excel-icon">PDF</span></span>
      <span class="fa fa-download" (click)="exportToExcel()"><span class="pdf-excel-icon">Excel</span></span>
    </div>
    <div style="padding-top: 12px;">
      <srca-my-task-list #myTaskList></srca-my-task-list>
    </div>
  </div>
</div>