@import "../../../../assets/scss/variables.scss";
.align-checkbox{
    margin-right: 80px;
    margin-top: 9px;
}
.space-labels{
    margin-right:20px;
    margin-left:20px;
}

.notes{
     width:100% !important; 
     height:100px; 
    }

.filter-labels{
    margin-right: 50px;
}
.footer-panel{
    padding-top: 15px;
}
.btn-align{
    margin-right: 10px;
}
.input-filters{    
     width:100% !important; 
}

.my-task-list-table::ng-deep .ui-table{
   z-index: 0;
    
    .ui-table-scrollable-wrapper{
        .ui-table-scrollable-view{
            .ui-table-scrollable-header{
                overflow-y: scroll;
                .ui-table-scrollable-header-box{
                    padding-right: 0px !important;
                    // margin-right: 31px !important;
                    // background-color: #ebebe8;;
                }
            }
            .ui-table-scrollable-body {
                overflow-y: scroll !important;
               // height: 450px;
            }
        }
    }

    .ui-multiselect-panel {

        .ui-multiselect-items-wrapper {
            z-index:9999;
        }
    }
}  


