@import "../../../../assets/scss/variables.scss";
.align-checkbox{
    margin-right: 80px;
    margin-top: 9px;
}
.space-labels{
    margin-right:20px;
    margin-left:20px;
}

.notes{
     width:100% !important; 
     height:100px; 
    }

.filter-labels{
    margin-right: 50px;
}
.footer-panel{
    padding-top: 15px;
}
.btn-align{
    margin-right: 10px;
}
.input-filters{    
     width:100% !important; 
}
.audit-list-table::ng-deep .ui-table{
    .ui-table-thead{
        tr{
            th{
                white-space: nowrap;
                width: 25%;
            }
    }
}
    .ui-table-scrollable-wrapper{
        .ui-table-scrollable-view{
            .ui-table-scrollable-header{
                overflow: visible;
            }
        }
    }
}  
